*{
    margin:0px;
    padding:0px ;
    font-family: 'montserrat' ;   
}
body{
    background-color: darkgrey;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

height: 650px;
display: flex;
justify-content: center;
}

h1{
    text-align: center;
    font-weight: 700;
}
form{
    background: #fff;
    padding: 10px 3;
    box-shadow: 0 0 2px 0 rgb(255,255,255,0.8);
    border-radius: 10PX;
}
form.grupo{
    position: relative;
    margin: 45px;
    background-color: #c6c6c5;
}
input:focus~label
input:valid~label{
    top:-14px;
    font-size: 12px;
    color:#fff;
}

input{
    background: none;
    color:#c6c6c5;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
}
#container{
    width: 100%;
    margin: 0px auto
}
header h1 {
    background-color:black;
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 200px;
    color: beige;
    border-bottom: 10px solid darkgrey;
    font-size: 70px;
}
nav{
    background-color: black;
    height: 50px;
    border-bottom: 5px solid darkgray;

}
nav ul li {
    float: left ;
    list-style: none;
    margin: 10px;
    color:aliceblue;
    font-size: 19px;
    line-height: 30px;
}
.clear{
    clear: both;
}
#contenido{
    float: left;
    width: calc(80%-80px);
    min-height: 200px;
    background-color: aliceblue;
    padding: 40px;
}

.article{
    color:black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
aside{
    float: left;
    width: calc(20%-20px);
    min-height: 200px;
    background-color: aliceblue;
    padding: 10px;
}
footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 50px;
    line-height: 50px;

}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color:#c6c6c5;
    padding-top: 2opx;
}
img{
    width: 300px;
    height: 400px;
}
.training-list li {
    margin-bottom: 30px;
}
button{
    background-color: darkgray ;
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #0F2027;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}